* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;}

.center-align-children {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#header {
    width: calc(100vw - 16px);
    height: calc(100vh + 200px);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    text-align: center;
    padding-top: calc(100vh/3);
}

.header-card {
    padding: 10px;
    margin: 0 auto;
    width: 50vw;
    height: 30vh;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    box-shadow: 10px 10px 126px -9px rgba(0,0,0,0.75);
    transition: 0.75s;
}
.header-card:hover {
    box-shadow: 10px 10px 126px 9px rgba(0,0,0,0.75);    
    transition: 0.75s;
}

#links {
    margin-top: 250px;
    margin-left: 1500px;
    width: 20vw;
    height: auto;
    padding: 30px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

#projects {
    margin-top: 250px;
    margin-left: 600px;
    width: 30vw;
    height: auto;
    padding: 30px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #111;
}

#links a {
    font-size: 30px;
    text-decoration: none;
    color: #333;
}
#links a:hover {
    color: black;
    transition: 0.5s;
    font-weight: bold;
}

#title {
    font-size: 50px;
    font-weight: bold;
}